<h1>THIS IS THE LANDING PAGE</h1>

<div>
	Welcome to Tinker.com
	<p>Your 1-stop centre to get quick research done!</p>
</div>

<br>
<br>
<br>

<div>
	<div><%= link_to "Get Your Account Now", new_user_path %></div>
	<div><%= link_to "Sign In Now", user_sign_in_path %></div>
</div>

<br>
<br>
<br>

<div>
	<p>Promo Section 1</p>
	<p>Content of Promo Section 1</p>
</div>

<br>
<br>
<br>

<div>
	<p>Promo Section 2</p>
	<p>Content of Promo Section 2</p>
</div>

<br>
<br>
<br>
<h6>generic#landing. Root.</h6>