<h1>THIS IS THE LANDING PAGE</h1>

<div>
	Welcome to Tinker.com
	<p>Your 1-stop centre to get quick research done!</p>
</div>

<br>
<br>
<br>

<div>
	<p>Get an account (Link to sign up)</p>
	<p>Sign in here (Link to sign in)</p>
</div>

<br>
<br>
<br>

<div>
	<p>Promo Section 1</p>
	<p>Content of Promo Section 1</p>
</div>

<br>
<br>
<br>

<div>
	<p>Promo Section 2</p>
	<p>Content of Promo Section 2</p>
</div>

<br>
<br>
<br>
<h6>generic#landing. Root.</h6>