<h1>THIS IS THE USER PROFILE PAGE</h1>

<div>
	<h4>Your details!</h4>

	<h6>(Link to edit profile)</h6>
</div>

<br>
<br>
<br>

<div>
	<h4>Payment Details!</h4>
	<div>
		(To show subcscription details, card details.)
	</div>
	<h6>(Link to update/delete payment)</h4>
</div>

<br>
<br>
<br>

<div>
	<h4>Your payment history!</h4>
	<div>
		(Table outlining past payment. Potentially linked to the respective project)
	</div>
</div>

<br>
<br>
<br>
<h6>users#profile</h6>