<h1>THIS IS THE USER INDEX PAGE</h1>

<br>
<br>
<br>

<div>
	<h4>I WANT A TALKING POINT!</h4>
	<div>
		(ONCLICK, FORM TO SUBMIT NEW REQUEST)
	</div>
</div>

<br>
<br>
<br>

<div>
	<h4>SEE YOUR PAST PROJECTS!</h4>
	(A preview of all past talking points. Card style from bootsnipp.)
</div>

<br>
<br>
<br>

<div>
	<h4>MOST POPULAR POINTS SO FAR!</h4>
	<div>
		(A list (maybe cards?) of most popular points so far. Potentially, users interact by liking.)
	</div>
</div>

<br>
<br>
<br>
<h6>user#show.</h6>

































<br>
<br>
<br>
<p class="font-weight-bold">Find me in app/views/users/index.html.erb C:Users#index</p>


<br>
<br>
<br>
<h6>users#show</h6>